<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>

    <servers>
        <server>
            <id>bintray-gilbertojrequena-maven</id>
            <username>${env.BINTRAY_USER_NAME}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
    </servers>

    <mirrors>
    </mirrors>

    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-gilbertojrequena-maven</id>
                    <name>bintray</name>
                    <url>http://dl.bintray.com/gilbertojrequena/maven</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-gilbertojrequena-maven</id>
                    <name>bintray-plugins</name>
                    <url>http://dl.bintray.com/gilbertojrequena/maven</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
</settings>